.logo {
  width: 134px;
  height: 16px;
}

.top {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: 20px;
  }

  span {
    color: #156060;
  }
}

.card {
  margin-top: 30px;
}

.house-photo {
  border-radius: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.card-label {
  text-align: center;

  font-family: 'Inter';
  font-size: 17px;
  font-weight: 500;

  letter-spacing: -0.4px;
  line-height: 22px;
}

.image-container {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.house-photo {
  width: 100%;
  display: block;
  border-radius: 12px;
  opacity: 0.9;
  /* filter: blur(10px); */
  transition: all 0.3s ease;
}

.house-photo:hover {
  opacity: 1;
  filter: blur(0);
}

/* .info-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  background: rgba(42, 42, 42, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */

.info-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 10px 15px;
  border-radius: 8px;


  background: linear-gradient(
    to bottom right,
    rgba(52, 52, 52, 0.6),
    rgba(21, 21, 21, 0.3)
  );
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}




.info-item {
  font-size: 14px;
  color: #ffffff;
  margin: 4px 0;
}

/* Новые стили для фиксированной кнопки */
.fixed-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.fixed-button {
  background: #156060;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  min-width: 300px;
  min-height: 55px;

  font-family: 'Inter';
  font-size: 19px;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-button img {
  margin-right: 10px;
  width: 22px;
}

.fixed-button:hover {
  background: #157e7e;
}


main {
  padding-bottom: 80px;
}